.activity-time,
.break-time {
  display: flex;
  justify-content: space-between;
  background-color: rgb(212, 207, 207);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.completed {
  width: 100%;
  text-align: center;
}

.completed button {
  border: none;
  padding: 10px;
  background-color: rgb(170, 170, 248);
  border-radius: 8px;
  color: white;
}

.completed button:hover {
  background-color: orange;
  cursor: pointer;
}
